html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://github.com/iamjonn/GreenDump/assets/110827553/099c8a53-e273-4f34-a667-80c674e80e97) no-repeat;
  background-size: cover;
  height: 100%; 
}



.App {
  margin-top: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.App-header {
  height:60vh;
  width:30%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.txtcmc{
  font-size: 30px;
}

h1{
  color:black;
}

.bemvindo {
  font-family: 'Mooli', sans-serif;
  color:rgb(13, 39, 13) ;
}
.green {
  color:#106210;
  font-family: 'Lilita One', cursive;
  text-shadow: 2px 2px 2px black;
}

.dump {
  color: rgb(119, 190, 72);
  font-family: 'Lilita One', sans-serif;
  text-shadow: 2px 2px 2px black;
}