.header {
  position: fixed; /* fixa o cabeçalho no topo */
  top: 0; /* alinha o cabeçalho com o topo da página */
  width: 100%; /* faz o cabeçalho ocupar a largura total da página */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: linear-gradient(to right, #86c3a5, #75b364);
  color: white;
  font-size: 34px;
  font-weight: bold;
  z-index: 1000; /* garante que o cabeçalho fique acima de outros elementos */
}

.header .green {
  color: darkgreen;
  
}

.header .dump {
  color: lightgreen;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 115vh; /* altura total da janela de visualização */
  padding: 20px;
  background-color: white;
}

.caixa{
  margin-top: 200px;
  background: linear-gradient(to right, #86c3a5, #75b364);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  border-radius:20px; /* altura total da janela de visualização */
  width:80%;
}

.button {
  margin-top: 20px; /* adiciona margem acima do botão */
  margin-bottom: 20px;
}

.input {
  width: 50%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.cardsContainer{
  background:#DCDCDC;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px; /* largura fixa */
  margin: 15px; /* adiciona margem ao redor do cartão */
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  align-items: flex-start; /* alinha os cartões ao topo */
}

.info {
  flex: 1;
  margin-right: 0px;
  background:#006400;
  border-radius: 5px;
  color: white;
}

.info p {
margin: 0;
}

.info h4 {
  font-family: "Times New Roman";
  font-size: 25px;
  text-transform: uppercase;
  }

.image {
  flex: 1;
  max-width: 180px;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.titulo {
  font-family: "Permanent Marker", cursive;
    font-size: 42px;
    text-align: center;
    background:white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  
}